@charset "UTF-8";
/* Global CSS Document */

*
{
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body, html
{
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #282b2d;
  color: #F8F8FF;
  text-decoration: none;
  scroll-behavior: smooth;
}

.p_margin
{
  margin-top: 5%;
}

h1
{
  display: table;
  padding-right: 10vw;
  color: #F8F8FF;
  padding-bottom: 20px;
  border-bottom: 4px solid #282b2d;
  transition: .4s ease;
}

h1:hover
{
  color: #266fd2;
  transition: .4s ease;
}

h2
{
  color: #F8F8FF;
  padding-bottom: 20px;
  border-bottom: 4px solid #282b2d;
  transition: .4s ease;
}

h2:hover
{
  color: #266fd2;
  transition: .4s ease;
}

h4
{
  transition: .4s ease;
}

h4:hover
{
  color: #266fd2;
  transition: .4s ease;
}

.links
{
  text-decoration: none;
  color: #F8F8FF;
}

#links:link, :visited
{
  background-color: #282b2d;
  text-decoration: none;
  margin-right: 1px;
  transition: .4s ease;
}

#links:hover
{
  background-color: #27ae60;
  color: #282b2d;
  transition: .6s ease;
}

/*---------global design begin------------*/

.intro_container
{
  background-image: url("bgimg01.jpg");
  height: 110%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282b2d;
  box-shadow: 0px 2px 20px #000000;
  padding-top: 5%;
  border-bottom: 1px solid #F8F8FF;
  animation:opac 1.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.design_a_container
{
  background-image: url("bgimg02.jpg");
  height: 100%;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #232729;
  box-shadow: 0px 2px 20px #000000;
}

@media screen and (max-width: 600px)
{
  .intro_container
  {
    background-image: url("bgimg03.jpg");
  }
}

/*---------global design end------------*/

/*---------nav begin------------*/

#display_topleft
{
  position: relative;
  top: 20vh;
  padding: 40px;
  color: #266fd2;
}

#nav_container
{
  position: relative;
  float: left;
  height: auto;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #266fd2;
}

#nav_a
{
  position: relative;
  width: 200px;
  background-color: #282b2d;
  margin-bottom: 4px;
  padding-left: 4px;
  border: 1px solid #F8F8FF;
  transition: .4s ease;
  animation:animateleft .8s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

#nav_b
{
  position: relative;
  width: 180px;
  background-color: #282b2d;
  margin-bottom: 4px;
  padding-left: 4px;
  border: 1px solid #F8F8FF;
  transition: .4s ease;
  animation:animateleft 1s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

#nav_c
{
  position: relative;
  width: 160px;
  background-color: #282b2d;
  margin-bottom: 4px;
  padding-left: 4px;
  border: 1px solid #F8F8FF;
  transition: .4s ease;
  animation:animateleft 1.2s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

#nav_d
{
  position: relative;
  width: 140px;
  background-color: #282b2d;
  margin-bottom: 4px;
  padding-left: 4px;
  border: 1px solid #F8F8FF;
  transition: .4s ease;
  animation:animateleft 1.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

#nav_e
{
  position: relative;
  width: 120px;
  background-color: #282b2d;
  margin-bottom: 4px;
  padding-left: 4px;
  border: 1px solid #F8F8FF;
  transition: .4s ease;
  animation:animateleft 1.6s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

#nav_f
{
  position: relative;
  width: 100px;
  background-color: #282b2d;
  padding-left: 4px;
  border: 1px solid #F8F8FF;
  transition: .4s ease;
  animation:animateleft 1.6s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

.overlay
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F8F8FF;
  overflow: hidden;
  height: 100%;
  width: 0;
  transition: .4s ease;
}

#nav_a:hover .overlay, #nav_b:hover .overlay, #nav_c:hover .overlay, #nav_d:hover .overlay, #nav_e:hover .overlay, #nav_f:hover .overlay
{
  width: 100%;
}

#nav_a:hover, #nav_b:hover, #nav_c:hover, #nav_d:hover, #nav_e:hover, #nav_f:hover
{
  border: 1px solid #282b2d;
  transition: .4s ease;
}

.nav_txt
{
  position: relative;
  z-index: 100;
  font-size: 30px;
  color: #F8F8FF;
  transition: .4s ease;
}

.nav_txt:link, :visited
{
  text-decoration: none;
}


#nav_a:hover .nav_txt, #nav_b:hover .nav_txt, #nav_c:hover .nav_txt, #nav_d:hover .nav_txt, #nav_e:hover .nav_txt, #nav_f:hover .nav_txt
{
  height: 100%;
  color: #282b2d;
  transition: .4s ease;
}

/*---------nav end------------*/

/*---------intro begin------------*/

#intro_container
{
  position: absolute;
  height: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -300px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #F8F8FF;
  border-left: 4px solid #F8F8FF;
}

#intro_txt_a
{
  position: relative;
  box-sizing: content-box;
  width: 680px;
  font-size: 70px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #F8F8FF;
  animation:animateright 1.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

#intro_txt_b
{
  position: relative;
  box-sizing: content-box;
  font-size: 40px;
  width: 480px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #F8F8FF;
  animation:animateright 1.8s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

#intro_txt_c
{
  position: relative;
  box-sizing: content-box;
  font-size: 20px;
  width: 240px;
  background-color: #282b2d;
  transition: .2s ease;
  border-left: 1px solid #F8F8FF;
  animation:animateright 1s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

#intro_txt_a:hover, #intro_txt_b:hover, #intro_txt_c:hover
{
  color: #282b2d;
  background: #F8F8FF;
  padding-left : 20px;
	transition: .2s ease;
  border-left: 1px solid #282b2d;
}

.arrow_animate
{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.arrow_animate span
{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #282b2d;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow_animate a
{
  display: block;
  width: 20px;
  height: 20px;
}

.arrow_animate span:nth-child(2)
{
  animation-delay: -.2s;
}

.arrow_animate span:nth-child(3)
{
  animation-delay: -.4s;
}

@keyframes animate
{
    0%
    {
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
    }
    50%
    {
      opacity: 1;
    }
    100%
    {
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
    }
}

@media screen and (max-width: 600px)
{
  #intro_container
  {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: -98vw;
    transform: scale(.7) rotate(90deg);
    float: left;
  }
}

/*---------intro end------------*/

/*---------footer begin------------*/

.contact_margin
{
  margin-bottom: 60vh;
  border-bottom: 1px solid #F8F8FF;
}

.footer
{
  position: fixed;
  height: 60vh;
  width: 100%;
  z-index: -10;
  bottom: 0;
  overflow: auto;
  padding: 5%;
  background-color: #232729;
  text-align: center;
}

.footer_p
{
  margin-top: 20vh;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
  border-top: 4px solid #282b2d;
}


.footer_ptemp
{
  margin-top: 60vh;
  border-top: 4px solid #282b2d;
}

@media screen and (max-width: 600px)
{
  .footer_p
  {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/*---------footer end------------*/

/*---------slide begin------------*/

.slideUp
{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slideUp
{
  0%
  {
    opacity: 0;
    transform: translateX(30%);
  }
  100%
  {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideUp
{
  0%
  {
    opacity: 0;
    -webkit-transform: translateX(30%);
  }
  100%
  {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

.hidden
{
  visibility: hidden;
}

/*---------slide end------------*/


/*--designed and created by Joshua Manley--*/
